[submodule "practicals/tensorflow-workshop"]
	path = practicals/tensorflow-workshop
	url = git@github.com:akzaidi/tensorflow-workshop.git
[submodule "practicals/sna"]
	path = practicals/sna
	url = git@github.com:akzaidi/Networks-MLSS-2017.git
